.navbar{
    height: 50px;
    background-color: #42a094;
    display: flex;
    justify-content: center;
  }
  
  .navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo{
    font-weight: 500;
  }
  
  .navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #1c7d70;
    background-color: #89e0d5;
  }


  .item {
    display: flex;
    align-items: center;
    margin-right: 20px;
    position: relative;
height: 20px;

    .icon {
      font-size: 20px;
    }
  }

  .items {
    display: flex;
    align-items: center;

    .item {
      display: flex;
      align-items: center;
      margin-right: 20px;
      position: relative;

      .icon {
        font-size: 20px;
      }

      .avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }

      .counter {
        width: 15px;
        height: 15px;
        background-color: red;
        border-radius: 50%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        font-weight: bold;
        position: absolute;
        top: -5px;
        right: -5px;
      }
    }
  }
